.item {
  text-align: center;

  padding: 20px 0;
}

.author {
  margin-bottom: 6px;

  font-size: 18px;
  letter-spacing: 0.02em;

  color: var(--black-color);
}

.text {
  font-size: 18px;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.content {
  text-align: justify;

  letter-spacing: 0.1em;

  color: var(--primary-text-color);
}

.content::first-letter {
  margin-left: 20px;
}
