.title {
  text-align: center;

  font-weight: 700;
  font-size: 36px;

  margin: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  color: var(--primary-text-color);
}

.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;

  margin-top: -30px;
  margin-left: -30px;
  margin-bottom: 40px;
  padding: 0;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 4 - 30px);

  width: 250px;

  margin-top: 30px;
  margin-left: 30px;
}

.link {
  display: flex;
  flex-direction: column;
  align-content: stretch;

  padding: 10px;
}

.thumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.poster {
  object-fit: cover;
  overflow: hidden;

  /* width: 250px; */
  height: 400px;

  border-radius: 6px;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 10px;

  font-weight: 500;
  font-size: 18px;

  color: var(--primary-text-color);
}
